<div class="footer-section">
    <div class="footer">
        <div class="footer-links">
            <div class="footer-column">
                <div>Πληροφοριες</div>
                <ul>
                    <li><a href="">Τηλεφωνικες κρατησεις:+30 2117700000</a></li>
                    <li><a href="">Δευ-Παρ 10:00 -18:00</a></li>
                    <li><a href="">Θεσεις εργασιας</a></li>
                    <li><a href="">Οροι χρησης</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div>Υποστηριξή</div>
                <ul>
                    <li><a href="">Επικοινωνία</a></li>
                    <li><a href="">Συχνές ερωτήσεις</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <div>Useful links</div>
                <ul>
                    <li><a href="">Support</a></li>
                    <li><a href="">Free Mobile App</a></li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="social-links">
            <div>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">&copy; 2025 Book.com</p>
</div>